@model Search
@{
    ViewData["Title"] = "restaurants";
}

<h1>The Guru suggests one of these restaurants</h1>

<div class=" table-bordered">

   <table  class="table table-sm  table-hover border-bottom">

    <tbody>

        @foreach (RestaurantElement restaurant in Model.Restaurants)
        {
        <tr>
            <td>
                <img id="currentPhoto" src="@restaurant.Restaurant.FeaturedImage" onerror="this.onerror=null; this.src='https://localhost:44317/images/HungerGuru.png'" class="rounded-circle" alt="" width="120" height="140">
            </td>

            <td>@Html.DisplayFor(Modelitem => restaurant.Restaurant.Name)</td>

            <td>@Html.DisplayFor(Modelitem => restaurant.Restaurant.Location.S_Address)</td>

            <td>@Html.DisplayFor(Modelitem => restaurant.Restaurant.UserRating.AggregateRating)</td>

            <td><a asp-action="Details" asp-route-id="@restaurant.Restaurant.Id">Details</a></td>
        </tr>


        }
    </tbody>

   </table>
</div>
